{% include 'admin-layout.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}
{% block content %}


<div class="container-fluid">
    <div class="col-lg-6 mb-4">

              <!-- Approach -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Classify Trading News</h6>
            </div>
            <div class="card-body">
                <p class="font-weight-bold">Here are some example trading news:</p>
                <ul>
                    <li>In Hong Kong, the oil price is higher than ever</li>
                    <li>Investments in coffee companies has been reduced, traders oberserved</li>
                    <li>Asian workers in gas industries are requesting higher wages</li>
                </ul>
              {{ render_form(example_form) }}
            </div>
          </div>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Classify Result</h6>
            </div>
            <div class="card-body">
                <p> Category Text: {{ result.category_text }}</p>
                <p> Category Code: {{ result.category_code }}</p>
            </div>
          </div>



        </div>
    </div>
</div>

{% endblock %}
  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin-2.min.js"></script>

</body>

</html>

